/* Style the container to control image sizing */
.imageContainer {
  max-width: 100%; /* Ensures container width doesn't exceed screen size */
  max-height: 100%;
  margin: 0 2%; /* Centers the container */
  align-items: center;
  justify-content: center;
}

/* Optional additional styles for the image itself */
.responsiveImage {
  border-radius:5px; /* Rounds the corners */
  object-fit: none; /* Ensures the image covers the area while maintaining aspect ratio */
  justify-self: center;
  align-self: center;
}

/* Medium Screens (Tablets, 768px to 1024px) */
@media (max-width: 1024px) {
  .image-container {
    max-width: 100%; /* Reduce max-width on tablets */
    height: 100%;
    padding: 15px;
  }
  .responsiveImage {
    /* height: 260px; */
    width: 100%;
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
  }
}

/* Small Screens (Phones, 480px to 639px) */
@media (max-width: 768px) {
  .image-container {
    max-width: 70%; /* Full width with slight padding for mobile */
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* align-self: center; */
  }

  .responsiveImage {
    height: 80%; 
    width: 80%;
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    margin: 10% 0;
  }
  
}

/* Extra Small Screens (Phones, less than 480px) */
@media (max-width: 480px) {
  .image-container {
    max-width: 80%; /* Full width for small screens */
    max-height: 80%;
    padding: 5px; /* Smaller padding for tight fit */
  }

  .responsiveImage {
    height: 80%;
    width: 80%;
    margin: 15% 0;
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
  }
}

/* Very Small Screens (320px and below) */
@media (max-width: 320px) {
  .image-container {
    max-width: 80%; /* Full width on extremely small screens */
    max-height: 80%;
    padding: 1px; /* Minimal padding for narrow screens */
  }
}
