/* Style the container to control image sizing */
.imageContainer {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2% 5% 5% 5%; */
}

/* Optional additional styles for the image itself */
.responsiveImage {
  border-radius:5px; /* Rounds the corners */
  object-fit: none; /* Ensures the image covers the area while maintaining aspect ratio */
  justify-self: center;
  align-self: center;
}

/* Medium Screens (Tablets, 768px to 1024px) */
@media (max-width: 1024px) {
  .responsiveImage {
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
  }
}

/* Small Screens (Phones, 480px to 639px) */
@media (max-width: 768px) {

}

/* Extra Small Screens (Phones, less than 480px) */
@media (max-width: 480px) {
}

/* Very Small Screens (320px and below) */
@media (max-width: 320px) {
  
}
