.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

.h1-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.container h1 {
  font-size: xxx-large;
  margin: 2%;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-align: left;
}

.about-container {
  width: 80%;
}

.p1 {
  margin: 2%;
  text-align: justify;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  line-height: 2.5rem;
  white-space: pre-line;
  
  color: rgb(0, 0, 0);
}

.p2 {
  margin: 1%;
  text-align: justify;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  line-height: 2.5rem;
  white-space: pre-line;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: rgb(0, 0, 0);
}

.footer {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 10%; */
  padding: 20px 0;
  gap: 100px;
}

.footer svg {
  width: 35px;
  height: 35px;
}

@media (max-width: 1920px) {
  .p1 {
    width: 95%; /* Increase width for readability */
    font-size: larger; /* Slightly increase font size */
  }

  .p2 {
    font-size: larger; /* Slightly increase font size */
  }
}

@media (max-width: 1560px) {
  .p1 {
    width: 95%; /* Increase width for readability */
    font-size: large; /* Slightly increase font size */
  }

  .p2 {
    font-size: large; /* Slightly increase font size */
  }
}

@media (max-width: 1336px) {
  .p1 {
    width: 95%; /* Increase width for readability */
    font-size: large; /* Slightly increase font size */
  }

  .p2 {
    font-size: large; /* Slightly increase font size */
  }
}
@media (max-width: 1024px) {
  .container h1 {
    font-size: xx-large;
    margin: 2%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: left;
  }
  .p1 {
    width: 95%; /* Increase width for readability */
    font-size: smaller; /* Slightly increase font size */
    line-height: 2rem;
  }

  .p2 {
    font-size: smaller; /* Slightly increase font size */
    line-height: 2rem;
  }
}

/* Medium Screens (tablet landscape, smaller laptop screens) */
@media (max-width: 768px) {
  .h1-container {
    width: 90%;
  }
  /* .about-container {
    margin: 0 5%;
  } */
   .container h1 {
    font-size: x-large;
    margin: 0 7%;
   }
  .p1 {
    width: 95%; /* Full width for mobile */
    font-size: 1rem; /* Adjust font size to fit */
    line-height: 1.5;
  }

  .p2 {
    font-size: 1rem; /* Adjust font size to fit */
    line-height: 1.5;
}
}

/* Extra Small Screens (Phones, less than 480px) */
@media (max-width: 480px) {
  .h1-container {
    width: 90%;
  }

  .container h1 {
    font-size: x-large;
    margin: 0 6%;
  }
  
  .about-container {
    margin: 0 5%;
  }
  .p1 {
    width: 100%; /* Full width on very small screens */
    font-size: 0.75rem; /* Adjust font size for small screens */
    line-height: 1.5;
    white-space: normal;
  }

  .p2 {
    font-size: 0.75rem; /* Adjust font size for small screens */
    line-height: 1.5;
    white-space: normal;
  }
}

/* Very Small Screens (320px and below) */
@media (max-width: 320px) {
  .container h1 {
    font-size: x-large;
    /* margin: 2%; */
    margin-left: 8%;
    color: rgb(0, 0, 0);
    font-weight: 600;
    /* text-align: left; */
  }
  
  .p1 {
    width: 100%; /* Full width on extremely small screens */
    font-size: 0.75rem; /* Adjust font size to remain readable */
    line-height: 1.5; /* Slightly reduce line height */
  }

  .p2 {
    font-size: 0.75rem; /* Adjust font size to remain readable */
    line-height: 1.5; /* Slightly reduce line height */
  }
}
