.article {
    top: auto;
    color: white;
    /* margin-top: 80px; */
    /* margin: auto; */
}
.heading {
    color: white;
    /* padding-top: 2%;
    padding-left: 10%; */
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
    font-weight: 800;
    font-size: xx-large;
}
.paragraph {
    color: white;
    /* padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%; */
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    line-height: 2;
    white-space: pre-line;
}