/* Base Styles for Large Screens */
.container {
    /* padding-top: 80px; */
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;
}
.card-container {
    z-index: 1;
    position: relative;
    text-align: center;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back-button {
    display: none;
}
.back-button svg {
    width: 60px;
    height: 50%;
}

.footer {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 10%; */
    padding: 20px 0;
    gap: 100px;
  }
  
  .footer svg {
    width: 35px;
    height: 35px;
  }


/* Medium Screens (Tablets, 768px to 1024px) */
@media (max-width: 1024px) {
    .card-container {        /* Reduce side margins */
        height: 80%;                 /* Increase height for better visibility */
        flex-direction: row;
        justify-content: space-evenly; /* Adjust spacing between items */
    }
}

/* Small Screens (Phones, 480px to 767px) */
@media (max-width: 768px) {
    .container {
        height: 100%;
        flex-direction: column;      /* Stack items vertically */
        justify-content: center;     /* Center items vertically */
    }
    .card-container {
        height: 80%;
        width: 80%;
        flex-direction: row;      /* Stack items vertically */
        justify-content: center;     /* Center items vertically */
    }
}

/* Extra Small Screens (Phones, less than 480px) */
@media (max-width: 480px) {
    .container {
        height: 100%;
        justify-content: normal;
    }
    .card-container {
        height: 100%;                /* Let height adjust naturally */
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

/* Very Small Screens (320px and below) */
@media (max-width: 320px) {
    .container {
        height: 100vh;
    }
    .card-container {
        flex-direction: column;
    }
}
