.container {
    margin: 20% 10% 0% 10%;
    left: 0;
    z-index: 1;
    position: relative;
    text-align: center;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}
@media screen and (min-width: 768px) {
    /* dislay content on large screens */
    

}

@media screen and (max-width: 768px) {
    /* display content on small screens */
    .container {
        margin: 5% 30% 5% 30%;
        left: 0;
        z-index: 1;
        position: relative;
        height: 30%;
        flex-direction: column;
    }
    
}