.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}


/* display: "flex", flexDirection: "row", justifyContent: "space-evenly", alignItems: "center" */